@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

body {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #2580e9;
}

div {
    display: inline-block;
}

p {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: rgb(133, 48, 100);
}

a:hover {
    font-size: 30px;
    transition: 0.5s;
}

.contagem-regressiva {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    background-color: #257ae9;
}

.contagem-regressiva.shadow {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.copyright {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
}