@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-size: 4em;
}

body {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(219, 57, 165);
}

div {
    display: inline-block;
}

p {
    font-size: 3em;
}

.contagem-regressiva {
    display: flex;
    justify-content: center;
    align-items: center;
    background: royalblue;
    margin: 40px 0;
    position: relative;
}

.contagem-regressiva.shadow {
    box-shadow: 10px -10px 25px rgba(33, 231, 245, 0.63);
}